.max-w-7xl {
  max-width: 100rem !important;
  /* 默认是80rem，增加到100rem */
}

.max-w-4xl {
  max-width: 65rem !important;
  /* 默认是56rem，增加到65rem */
}

.max-w-3xl {
  max-width: 55rem !important;
  /* 默认是48rem，增加到55rem */
}

.max-w-prose {
  max-width: 100ch !important;
}

.font-medium {
  font-size: 1.2rem !important;
}

.pageview-container {
  display: flex;
  justify-content: center;
  /* Horizontally centers the group of items */
  align-items: center;
  /* Vertically centers the items */
  gap: 8px;
  /* Adds space between the icon and the text */
  /* You can add padding or a defined width to .parent-container if needed */
}